*{
    font-family: Arial, sans-serif;
}

/* utilities */
.max_width_container{
    max-width: 980px;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.name_brand{
    width: 100%;
    height: 20px;
    background-color: black;
}

.container_logo_sony{
    width: 60px;
    margin-right: 5px;
}
.name_brand img{
    object-fit: cover;
}

header nav.nav_header{
    padding: 0;
    background-color: #fcfcfc;
}

.link_item_navbar{
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
}

.arrow_gray_down{
    color: #aaa;
    font-size: 14px;
}

/* MAIN */


/* game sponsor 1 full screen */
.game_sponsor_1{
    background: url('../img/jumbo-bg.png');
    height: 500px;
    background-position-y: 80px;
}

.game_sponsor_1 .container img{
    width: 50%;
}

/* game sponsor 2 full screen */
.game_sponsor_2{
    background: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 600px;
}

.game_sponsor_2 .container img{
    width: 50%;
}

/* game sponsor full screen */
.game_sponsor{
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.game_sponsor .container,
.game_sponsor .container .row_sponsor {
    height: 100%;
}

.game_sponsor .container h2{
    font-size: 34px;
}
.game_sponsor .container p{
    font-size: 14px;
}

.button_sponsor{
    color: white;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}


/* game sponsor preview */
.current_preview{
    padding: 2px;
    border: 3px solid #8cbee8;
}
.cover_sponsor_game{
    width: 100%;
    border-radius: 20px;
}

/* playstation 5 image */
.image_selected{
    height: 100%;
    border-bottom: 3px solid #3f95da;
}

.presentation .info_ps5{
    font-size: 14px;
}

.image_unselected{
    position: relative;
}

.image_unselected::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

/* new games */
.new_games{
    background-color: #1f1f1f;
    color: white;
}

/************** 
   ANIMATION
***************/
.cursor_pointer:hover{
    cursor: pointer;
}



/************** 
   RESPONSIVE 
***************/
@media screen and (max-width: 980px) {
    .max_width_container{
        max-width: 980px;
    }

    .game_sponsor_2 .container img{
        width: 30%;
    }
}